$logoWidth: 102.5px;
$iconWidth: 40px;
$smallIconWidth: 36px;

$elementBackground: #6c6cd9;
$footerBlockBackground: #6464C6;
$secondaryElementBackground: rgb(88, 85, 172);
$iconBackground: #7D8BE3;
$iconHoveredBackground: #5D60B7;
$mainBackground: #7e7ee5;
$tertiaryColor: rgb(234, 234, 234);

#navbar {
    height: 90px;
}

.input-form {
    color: black;
    background-color: white;
    border: none;
    font-size: 30px;
    border-radius: 12px;
    height: 40px;
}

.input-form:focus {
    background-color: white;
    border: none;
    outline: none;
}

.icon {
    border-radius: 10px;
    background-color: $iconBackground;
    height: $iconWidth;
    width: $iconWidth;
    object-fit: contain;
    /* Сохраняет пропорции без обрезки */
}

.icon:hover {
    background-color: $iconHoveredBackground;
}

.small-icon {
    height: $smallIconWidth;
}

.backgrounded {
    border-radius: 30px;
    background-color: $elementBackground;
}

body {
    background-color: white;
}

.custom-pagination {
    text-align: center;
    margin-top: 15px;
}

.custom-pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: $tertiaryColor;
    color: white;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
    background-color: $elementBackground;
    width: 40px;
}

.title {
    >img {
        height: 100px;
        object-fit: contain;
    }
}

.add-to-cart {
    color: white;
    border: none;
    background-color: $elementBackground;
    font-weight: 500;
    font-size: large;
}

.add-to-cart:hover {
    color: white !important;
    background-color: $secondaryElementBackground !important;
}

.add-to-cart:active {
    color: white !important;
    background-color: $secondaryElementBackground !important;
}

.more {
    color: black;
    border: none;
    background-color: $tertiaryColor;
    font-weight: 500;
    font-size: large;
}

.more:hover {
    color: black !important;
    border-color: $elementBackground !important;
    background-color: $tertiaryColor !important;
}

.more:active {
    color: black !important;
    background-color: $tertiaryColor !important;
}

.footer {
    background-color: $elementBackground;
    height: 300px;

    .btn-link {
        color: black
    }

    .btn-link:active {
        color: $footerBlockBackground;
    }
}

.footer-block {
    background-color: white;
    color: $footerBlockBackground;
}

.zoom-image {
    transition: transform 0.3s;
}

.zoom-image:hover {
    transform: scale(1.1);
}

.cards-section {
    background-color: $tertiaryColor;
    border-radius: 50px;
}

.product-card {
    font-weight: 700;
    font-size: large;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 2px 1px rgba(255, 0, 0, 0.7);
    }

    50% {
        box-shadow: 0 0 4px 2px rgba(255, 0, 0, 0.5);
    }

    100% {
        box-shadow: 0 0 2px 1px rgba(255, 0, 0, 0.7);
    }
}


#laptop {
    .red-dot {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 14%;
        left: 44%;
        width: 0.9%;
        height: 1.5%;
        background-color: red;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
}

#laptop:hover {
    .red-dot {
        opacity: 1;
        animation: pulse 1.5s infinite;
    }
}

.categories {
    background-color: $elementBackground;
}

.zoom-category-image {
    img {
        transition: transform 0.3s;
    }
}

.zoom-category-image:hover {
    img {
        transform: scale(1.1);
    }
}

@keyframes forWomen {
    0% {
        transform: translate(-200%, -50%);
    }

    25% {
        transform: translate(-50%, -50%) rotate(-20deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(-20deg);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes forMen {
    0% {
        transform: translate(-200%, -200%) rotate(-45deg);
    }

    50% {
        transform: translate(200%, 200%) rotate(-45deg);
    }

    51% {
        transform: translate(-50%, -400%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes forKids {
    0% {
        transform: translate(-50%, -500%);
    }

    50% {
        transform: translate(-50%, -35%) scale(1, 0.85);
    }

    75%{
        transform: translate(-50%, -35%) scale(1, 0.85);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

.for {
    >a {
        >div {
            aspect-ratio: 1 / 1;
            background-color: #fff;

            >img {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                height: 80%;
            }
        }
    }
}

#forWomen {
    >a {
        >div:hover {
            >img {
                animation: forWomen 0.6s;
            }
        }
    }
}

#forMen {
    >a {
        >div:hover {
            >img {
                animation: forMen 0.8s;
            }
        }
    }
}

#forKids {
    >a {
        >div:hover {
            >img {
                animation: forKids 0.6s;
            }
        }
    }
}