$logoWidth: 102.5px;
$iconWidth: 40px;
$smallIconWidth: 36px;

$elementBackground: #6c6cd9;
$footerBlockBackground: #6464C6;
$secondaryElementBackground: rgb(88, 85, 172);
$iconBackground: #7D8BE3;
$iconHoveredBackground: #5D60B7;
$mainBackground: #7e7ee5;
$tertiaryColor: rgb(234, 234, 234);

#navbar {
    height: 90px;
}

.input-form {
    color: black;
    background-color: white;
    border: none;
    font-size: 30px;
    border-radius: 12px;
    height: 40px;
}

.input-form:focus {
    background-color: white;
    border: none;
    outline: none;
}

.icon {
    border-radius: 10px;
    background-color: $iconBackground;
    height: $iconWidth;
    width: $iconWidth;
    object-fit: contain;
}

.icon:hover {
    background-color: $iconHoveredBackground;
}

.small-icon {
    height: $smallIconWidth;
}

.backgrounded {
    border-radius: 30px;
    background-color: $elementBackground;
}

body {
    background-color: white;
}

.custom-pagination {
    text-align: center;
    margin-top: 15px;
}

.custom-pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: $tertiaryColor;
    color: white;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
    background-color: $elementBackground;
    width: 40px;
}

.title {
    >img {
        height: 100px;
        object-fit: contain;
    }
}

.add-to-cart {
    color: white;
    border: none;
    background-color: $elementBackground;
    font-weight: 500;
    font-size: large;
}

.add-to-cart:hover {
    color: white !important;
    background-color: $secondaryElementBackground !important;
}

.add-to-cart:active {
    color: white !important;
    background-color: $secondaryElementBackground !important;
}

.more {
    color: black;
    border: none;
    background-color: $tertiaryColor;
    font-weight: 500;
    font-size: large;
}

.more:hover {
    color: black !important;
    border-color: $elementBackground !important;
    background-color: $tertiaryColor !important;
}

.more:active {
    color: black !important;
    background-color: $tertiaryColor !important;
}

.footer {
    background-color: $elementBackground;
    height: 300px;

    .btn-link {
        color: black
    }

    .btn-link:active {
        color: $footerBlockBackground;
    }
}

.footer-block {
    background-color: white;
    color: $footerBlockBackground;
}

.zoom-image {
    transition: transform 0.3s;
}

.zoom-image:hover {
    transform: scale(1.1);
}

.cards-section {
    background-color: $tertiaryColor;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.product-card {
    font-weight: 700;
    font-size: large;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 2px 1px rgba(255, 0, 0, 0.7);
    }

    50% {
        box-shadow: 0 0 4px 2px rgba(255, 0, 0, 0.5);
    }

    100% {
        box-shadow: 0 0 2px 1px rgba(255, 0, 0, 0.7);
    }
}


#laptop {
    .red-dot {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 14%;
        left: 44%;
        width: 0.9%;
        height: 1.5%;
        background-color: red;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        animation: pulse 1.5s infinite;
        animation-play-state: paused;
    }
}

#laptop:hover {
    .red-dot {
        opacity: 1;
        animation-play-state: running;
    }
}

.zoom-category-image {
    img {
        transition: transform 0.3s;
    }
}

.zoom-category-image:hover {
    img {
        transform: scale(1.1);
    }
}

@keyframes forWomen {
    0% {
        transform: translate(-100%, -50%);
    }

    50% {
        transform: translate(-20%, -50%) rotate(-20deg) skew(5deg, 0deg);
    }

    75% {
        transform: translate(-20%, -50%) rotate(-20deg) skew(5deg, 0deg);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes forMen {
    0% {
        transform: translate(-200%, -200%) rotate(-45deg) scale(1, 1.5);
    }

    50% {
        transform: translate(200%, 200%) rotate(-45deg) scale(1, 1.5);
    }

    51% {
        transform: translate(-50%, -400%) scale(1, 1.5);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes forKids {
    0% {
        transform: translate(-50%, -500%);
    }

    50% {
        transform: translate(-50%, -30%) scale(1, 0.75);
    }

    60% {
        transform: translate(-50%, -50%) scale(1, 0.9);
    }

    75% {
        transform: translate(-50%, -60%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

.for {
    >a {
        >div {
            aspect-ratio: 1 / 1;
            background-color: #fff;

            >img {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                height: 80%;
            }
        }
    }
}

#forWomen {
    >a {
        >div:hover {
            >img {
                animation: forWomen 0.5s;
            }
        }
    }
}

#forMen {
    >a {
        >div:hover {
            >img {
                animation: forMen 0.8s;
            }
        }
    }
}

#forKids {
    >a {
        >div:hover {
            >img {
                animation: forKids 0.7s;
            }
        }
    }
}

.offcanva {
    border-right: none !important;
    padding: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: $elementBackground;
    width: 50vw;
}

.arrow {
    height: 75%;
    top: 50%;
    left: 50%;
    transition: 0.3s;
    transform: translate(600%, -50%);
}

.ofcanva-dropdown:hover {
    .arrow {
        transform: translate(400%, -50%);
    }
}

#colorModeSwitch {
    border: 3px solid;
    border-radius: 50px;

    >div {
        height: 110%;
        aspect-ratio: 1 / 1;
        top: 50%;
        left: 50%;
        transition: 0.6s;
    }

    #sun {
        height: 75%;
        aspect-ratio: 1 / 1;
        top: 50%;
        left: 50%;
        transition: 0.6s;
    }

    #moon {
        height: 75%;
        aspect-ratio: 1 / 1;
        top: 50%;
        left: 50%;
        transition: 0.6s;
    }
}

#colorModeSwitch.light {
    background-color: $elementBackground;
    border-color: #fff;

    >div {
        border: 3px solid #fff;
        transform: translate(5%, -50%);
    }

    #sun {
        transform: translate(50%, -50%);
    }

    #moon {
        transform: translate(-50%, -50%);
    }
}

#colorModeSwitch.dark {
    background-color: #fff;
    border-color: $elementBackground;

    >div {
        border: 3px solid $elementBackground;
        transform: translate(-105%, -50%);
    }

    #sun {
        transform: translate(-50%, -50%);
    }

    #moon {
        transform: translate(-150%, -50%);
    }
}

.fluid-section {
    background-color: $elementBackground;
}

#car {
    width: 100%;
    top: 50%;
    left: 50%;
    transition: 0.3s;
    transform: translate(-150%, -100%) scale(0.25);
}

#car.scrolled {
    transform: translate(-75%, -50%);
}

@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url('fonts/arialroundedmtbold.ttf');
}

@keyframes smartphone {
    0% {
        transform: rotate(-30deg);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    75% {
        transform: rotate(30deg);
    }

    100% {}
}

@keyframes smartphoneLeftBar {
    0% {
        transform: rotate(150deg) translate(400%, 0%);
    }

    25% {
        transform: rotate(210deg) translate(400%, 0%);
    }

    50% {
        transform: rotate(150deg) translate(400%, 0%);
    }

    75% {
        transform: rotate(210deg) translate(400%, 0%);
    }

    100% {
        transform: rotate(180deg) translate(400%, 0%);
    }
}

@keyframes smartphoneRightBar {
    0% {
        transform: rotate(-30deg) translate(400%, 0%);
    }

    25% {
        transform: rotate(30deg) translate(400%, 0%);
    }

    50% {
        transform: rotate(-30deg) translate(400%, 0%);
    }

    75% {
        transform: rotate(30deg) translate(400%, 0%);
    }

    100% {
        transform: translate(400%, 0%);
    }
}

#smartphone {
    img:nth-child(1) {
        transform: translate(-400%, 0%) rotate(180deg);
    }

    img:nth-child(3) {
        transform: translate(400%, 0%);
    }
}

#smartphone:hover {
    img:nth-child(1) {
        transform: translate(-400%, 0%) rotate(180deg);
        transition: opacity 0.1s;
        animation: smartphoneLeftBar 0.6s;
    }

    img:nth-child(2) {
        animation: smartphone 0.6s;
    }

    img:nth-child(3) {
        transition: opacity 0.1s;
        animation: smartphoneRightBar 0.6s;
    }
}

@keyframes sport {
    0% {
        transform: translate(-200%, 0%) rotate(-180deg);
    }

    50% {
        transform: translate(10%, 0%) rotate(20deg);
    }

    100% {}
}

#sport:hover {
    img {
        animation: sport 1s;
    }
}

@keyframes grocery {
    0% {
        transform: translate(-400%, 0%) rotate(0deg);
    }

    15% {
        transform: rotate(15deg) translate(15%, calc(-15% * sin(15deg)));
    }

    30% {
        transform: rotate(20deg) translate(10%, calc(-10% * sin(20deg)));
    }

    45% {
        transform: rotate(20deg) translate(15%, calc(-15% * sin(20deg)));
    }

    90% {
        transform: rotate(20deg) translate(15%, calc(-15% * sin(20deg)));
    }

    100% {
        transform: rotate(0deg) translate(0%, 0%);
    }
}


#grocery:hover {
    img {
        animation: grocery 0.6s;
    }
}

@keyframes beauty1 {
    0% {
        transform: rotate(-30deg) translate(-15%, -100%) scale(40%, 40%);
    }

    40% {
        transform: rotate(0deg) translate(-25%, 5%) scale(40%, 40%);
    }

    60% {
        transform: rotate(0deg) translate(-25%, -5%) scale(40%, 40%);
    }

    80% {
        transform: rotate(0deg) translate(-25%, 0%) scale(40%, 40%);
    }
}

@keyframes beauty2 {
    0% {
        transform: rotate(30deg) translate(15%, -100%) scale(40%, 40%);
    }

    40% {
        transform: rotate(0deg) translate(25%, 10%) scale(40%, 40%);
    }

    60% {
        transform: rotate(0deg) translate(25%, 0%) scale(40%, 40%);
    }

    80% {
        transform: rotate(0deg) translate(25%, 5%) scale(40%, 40%);
    }
}

@keyframes beauty3 {
    0% {
        transform: rotate(30deg) translate(40%, -100%) scale(40%, 40%);
    }

    40% {
        transform: rotate(0deg) translate(55%, 5%) scale(40%, 40%);
    }

    60% {
        transform: rotate(0deg) translate(55%, 5%) scale(40%, 40%);
    }

    80% {
        transform: rotate(0deg) translate(55%, 5%) scale(40%, 40%);
    }

    90% {
        transform: rotate(0deg) translate(55%, 5%) scale(40%, 40%);
    }
}

#beauty {
    img:nth-child(1) {
        z-index: 1;
        transform: translate(-25%, 0%) scale(40%, 40%);
    }

    img:nth-child(2) {
        z-index: 1;
        transform: translate(25%, 5%) scale(40%, 40%);
    }

    img:nth-child(3) {
        transform: translate(55%, -30%) scale(30%, 25%);
    }
}

#beauty:hover {
    img:nth-child(1) {
        animation: beauty1 0.66s;
    }

    img:nth-child(2) {
        animation: beauty2 0.66s;
    }

    img:nth-child(3) {
        animation: beauty3 0.66s;
    }
}

@keyframes knife {
    0% {
        transform: translate(100%, 20%) scale(75%, 75%);
    }

    10% {
        transform: translate(15%, 20%) scale(75%, 75%) rotate(20deg);
        z-index: 2;
        filter: drop-shadow(3px 3px 0 white) drop-shadow(-2px -2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px 2px 0 white);
    }

    25% {
        transform: translate(15%, 20%) scale(75%, 75%) rotate(20deg);
        z-index: 2;
        filter: drop-shadow(3px 3px 0 white) drop-shadow(-2px -2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px 2px 0 white);
    }

    40% {
        transform: translate(15%, 40%) scale(75%, 75%) rotate(20deg);
        filter: drop-shadow(3px 3px 0 white) drop-shadow(-2px -2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px 2px 0 white);
    }

    55% {
        transform: translate(20%, 25%) scale(75%, 75%) rotate(50deg);
    }

    70% {
        transform: translate(20%, 25%) scale(75%, 75%) rotate(50deg);
    }
}

@keyframes pan {
    0% {
        transform: translate(-100%, -20%) scale(75%, 75%);
    }

    10% {
        transform: translate(-15%, -0%) scale(75%, 75%) rotate(20deg);
    }

    25% {
        transform: translate(-15%, -0%) scale(75%, 75%) rotate(20deg);
    }

    40% {
        transform: translate(-15%, -25%) scale(75%, 75%) rotate(20deg);
        filter: drop-shadow(3px 3px 0 white) drop-shadow(-3px -3px 0 white) drop-shadow(3px -3px 0 white) drop-shadow(-3px 3px 0 white);
    }

    55% {
        transform: translate(-15%, -15%) scale(75%, 75%) rotate(50deg);
        filter: drop-shadow(3px 3px 0 white) drop-shadow(-3px -3px 0 white) drop-shadow(3px -3px 0 white) drop-shadow(-3px 3px 0 white);
    }

    70% {
        transform: translate(-15%, -15%) scale(75%, 75%) rotate(50deg);
        filter: drop-shadow(3px 3px 0 white) drop-shadow(-3px -3px 0 white) drop-shadow(3px -3px 0 white) drop-shadow(-3px 3px 0 white);
    }
}

#kitchen {
    img:nth-child(1) {
        transform: translate(5%, 20%) scale(75%, 75%);
    }

    img:nth-child(2) {
        transform: translate(-5%, -20%) scale(75%, 75%);
    }
}

#kitchen:hover {
    img:nth-child(1) {
        transform: translate(5%, 20%) scale(75%, 75%);
        animation: knife 1.1s;
    }

    img:nth-child(2) {
        transform: translate(-5%, -20%) scale(75%, 75%);
        animation: pan 1.1s;
    }
}

@keyframes gamepad {
    0% {
        transform: translate(30%, 50%) scale(75%, 75%);
    }
}

@keyframes wire {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    62.5% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}

#gamingProducts {
    img:nth-child(1) {
        transform: translate(-20%, 30%) scale(50%, 50%);
    }

    img:nth-child(2) {
        transform: translate(30%, 20%) scale(75%, 75%);
        z-index: 2;
    }

    img:nth-child(3) {
        transform: translate(25%, -43%) scale(15%, 15%);
    }
}

#gamingProducts:hover {
    img:nth-child(2) {
        animation: gamepad 0.5s;
    }

    img:nth-child(3) {
        animation: wire 0.8s;
    }
}

@keyframes capsule1 {
    0% {
        transform: translate(-28%, -500%) scale(20%, 20%);
    }

    66% {
        transform: translate(-28%, -500%) scale(20%, 20%);
    }

    100% {
        transform: translate(-28%, 1%) scale(20%, 20%);
    }
}

@keyframes capsule2 {
    0% {
        transform: translate(-28%, -500%) scale(30%, 30%);
    }

    33% {
        transform: translate(-28%, -500%) scale(30%, 30%);
    }

    100% {
        transform: translate(-28%, 55%) scale(30%, 30%);
    }
}

@keyframes capsule3 {
    0% {
        transform: translate(-28%, -500%) scale(40%, 40%);
    }

    100% {
        transform: translate(-28%, 135%) scale(40%, 40%);
    }
}

#toys {
    img:nth-child(1) {
        transform: translate(10%, -10%) scale(50%, 50%);
    }

    img:nth-child(2) {
        transform: translate(20%, 5%) scale(40%, 40%);
        z-index: 2;
    }

    img:nth-child(3) {
        transform: translate(-28%, -47%) scale(3%, 3%);
    }

    img:nth-child(4) {
        transform: translate(-28%, 1%) scale(20%, 20%);
    }

    img:nth-child(5) {
        transform: translate(-28%, 55%) scale(30%, 30%);
    }

    img:nth-child(6) {
        transform: translate(-28%, 135%) scale(40%, 40%);
    }

    img:nth-child(7) {
        transform: translate(-28%, 237%) scale(50%, 50%);
    }
}

#toys:hover {

    img:nth-child(4) {
        animation: capsule1 0.9s;
    }

    img:nth-child(5) {
        animation: capsule2 0.6s;
    }

    img:nth-child(6) {
        animation: capsule3 0.3s;
    }
}

@keyframes notFoundBar {
    0% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(0%, 45%);
    }

    75% {
        transform: translate(0%, 38%);
    }

    100% {
        transform: translate(0%, 40%);
    }
}

#notFound {
    img:nth-child(1) {
        width: 0.95%;
        padding-left: 3px;
        padding-right: 3px;
        top: -22%;
        left: 24.375%;
    }

    img:nth-child(1):hover {
        animation: notFoundBar 0.5s;
        transform: translate(0%, 40%);
    }

    img:nth-child(2) {
        height: 8.5%;
        top: 25%;
        left: 20%;
    }

    img:nth-child(3) {
        height: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#searchForm {
    input:focus {
        box-shadow: none;
    }
    button {
        vertical-align: bottom ;
        font-size: large;
        font-weight: 500;
        color: $iconHoveredBackground;
        border-radius: 12px;
    }
}

select.form-select {
    box-shadow: none !important;
    outline: none !important;
    font-size: 20px;
}

select.form-select:focus {
    border: 1px solid $elementBackground;
}

.error-span {
    color: rgb(215, 24, 24);
    font-size: 20px;
}